
/* .card-container {
    border-color: 1px solid #ccc;
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
   background: linear-gradient(to right, #ffffff87, #00000017); 
} */

